@import 'typography';
@mixin font-italic{
    font-family: $arimo-italic;
}
@mixin  font-regular{
    font-family:$arimo-regular;
}

$main-color:#242B4F;
$pink-color:#FBD6D7;
$text-color:#454B73;

body{
    background-color: #DCE2F2;
}


.wrapper{
 max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}



.full{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}


.main-container{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 1px solid $main-color;
    background-image: url(../Image/photo_2025-11-24_13-33-35.jpg);
    background-size: cover;
    margin-top: 30px;
    box-shadow: 10px 10px 20px 2px rgba(36,43,79,0.75);
}

.stick{
    display: inline-block;
    width: 1px;
}


.second-container {
width: 350px;
height: 350px;
position: absolute;
}



.second-container:hover{
    border: 1px solid $main-color;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    right: 20px;
    transition: all 1s ease-in;
   box-shadow: 104px 143px 96px -87px rgba(36,43,79,0.4) inset;
}


.second-container:hover .stick {
    opacity: 0;
    transform: scale(0);
}




.tittle-name {
    width: 600px;
    height: 300px;
    margin-top: 51px;
    display: flex;
    flex-direction: column;
}


.social-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.name{
    text-align: center;
    h1{
        @include font-regular;
        font-weight: bold;
        color: $text-color;
    }
    h3{
        @include font-regular;
        opacity: 0.5;

    }
}


.img-facebook ,
 .img-gmail ,
  .img-phone{
    width: 24px;
    height: 24px;
  }


  .social-info a{
    font-size: 18px;
    text-decoration: none;
    color: $main-color;
    @include font-regular;
  }


  .facebook , 
  .gmail ,
  .phone{
    display: flex;
        width: 300px;
    height: 40px;
    border: 1px solid $pink-color;
    background-color: $pink-color;
    border-radius: 50px;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
  }


.info-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.my-info{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.info-cube{
    width: 172px;
    height: 52px;
    border: 1px solid $main-color ;
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #FBD6D7 50%, transparent 20%);
    h2{
        @include font-regular;
       color: $text-color;
    }
}

.info-cube:hover{
    background: linear-gradient(to left,  #988CCF 50%, transparent 20%);
   
}





.about-my{
    p{
        @include font-regular;
        color: $text-color;
        line-height: 1.5;
    }
}





.education-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.education-info{
    margin-top: 5px;
    h4{
        @include font-regular;
        font-weight: bold;
    }
}



.education-end{
    padding-left: 17px;
    color: $text-color;
    @include font-regular;
}

.education-end li:last-child{
    padding-top: 15px
}


.education-time{
    h5{
        @include font-regular;
    }
}


details{
    color: $text-color;
    @include font-regular;
    cursor: pointer;
    li{
    padding-top: 5px;
}
}







.languages {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.languages-container-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}


.languages-back {
    width: 300px;
    height: 45px;
    background-color: #FBD6D7;
    border: 1px solid #454B73;
    border-radius: 50px;
    text-align: center;
     display: flex;
    justify-content: center;
    align-items: center;
    h5{
        @include font-regular;
        color: $text-color;
    }

}


.languages-back-eng {
    width: 300px;
    height: 45px;
    background: linear-gradient(to right, #988CCF 20%, transparent 20%);
    border: 1px solid #454B73;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h5{
        @include font-regular;
        color: $text-color;
    }
}

.languages-back-poland {
    width: 300px;
    height: 45px;
    background: linear-gradient(to right, #FBD6D7 60%, transparent 20%);
    border: 1px solid #454B73;
    border-radius: 50px;
    text-align: center;
     display: flex;
    justify-content: center;
    align-items: center;
     h5{
        @include font-regular;
        color: $text-color;
    }
}


.languages-back-ru {
    width: 300px;
    height: 45px;
    background-color: #988CCF;
    border: 1px solid #454B73;
    border-radius: 50px;
    text-align: center;
     display: flex;
    justify-content: center;
    align-items: center;
     h5{
        @include font-regular;
        color: $text-color;
    }
}



 @media (max-width: 1300px){
    .info-container{
      flex-direction: column;
    }

.my-info{
    margin: 0 auto;
}


    aside{
        padding-top: 80px;
        margin: 0 auto;
    }
 }







  @media (max-width: 1000px){
.full{
    flex-direction: column;
    gap: 40px;
}
  }



   @media (max-width: 750px){
    .my-info{
        width: 580px;
    }
   }


 
 @media (max-width: 600px){
    .tittle-name{
        width: 480px;
    }


  .my-info{
    width: 80%;
  }

  .education-main{
    flex-direction: column;
  }

  .info-cube{
    margin: 0 auto;
  }








}



 @media (max-width: 480px){
    .tittle-name{
        width: 330px;
    }

    .name h1{
    font-size: 30px;
    }

    .main-container{
     width: 280px;
     height: 280px;
    }


    .second-container{
        width: 280px;
        height: 280px;
    }

.languages-container-name{
    width: 350px;
}


.education-info{
    text-align: center;
}


.languages-back-poland,
.languages-back-ru,
.languages-back-eng,
.languages-back 

{
    width: 250px;
}

 }