$arimo-italic:'Arimo-Italic';
$arimo-regular:'Arimo-Regular';


@font-face {
    font-family:'Arimo-Italic' ;
    src: url(../fonts/Arimo-Italic.ttf);
}



@font-face {
    font-family:'Arimo-Regular' ;
    src: url(../fonts/Arimo-Regular.ttf);
}